.wy-side-nav-search {
	background-color: #060606;
}

.wy-side-nav-search input[type=text] {
	width: 			80%;
	border-color: 	#2b1f03;
	border-width: 	2px;
}

/* 
width auto was rendering 0px wide for .svg files
https://stackoverflow.com/questions/59215996/how-to-add-a-logo-to-my-readthedocs-logo-rendering-at-0px-wide
*/
.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
	width: 275px;
}

.wy-nav-side {
	background-color: #060606;
	background-image: linear-gradient(#060606, #252523);
}

/* margin is for the advert on free version of RTD*/
.wy-menu-vertical {
	padding-left: 	8px;
	margin-bottom: 	150px;
}

/* sidebar captions aka sections*/
.wy-menu > .caption > span.caption-text {
	color: 		#cca439;
	font-size: 	11.5px;
}

/* intro paragraphs */
.intro {
    font-size:  14px;
}

p.intro {
    text-align: center;
}

.intro.bigP {
    line-height:   20px;
    margin-bottom: 20px;
}

ol.intro {
    padding-left: 45px;
}

ol.intro li span {
    position: relative;
    left:     12px;
}

li.shadowBox {
    padding: 18px;
    border: 1px solid lightgray;
    border-radius: 12px;
    margin-bottom: 25px;
    list-style-type:     None;

    box-shadow: 4px 4px lightgray;
    -moz-box-shadow: 4px 4px lightgray;
    -webkit-box-shadow: 4px 4px lightgray;
    -o-box-shadow: 4px 4px lightgray;
}

/* list of features */
ul.featureLists {
    padding-bottom: 50px;
    padding-left: 45px;
}

ul.featureLists.spaced {
    padding-top: 35px;
}

ul.featureLists li {
    list-style-type:     square;
    list-style-position: outside;
    font-size:           14.5px;
    margin-bottom:       12px; 
}

ul.featureLists li span {
    position: relative;
    left:     12px;
}

/* the '.simple' points to body lists, and avoids the sidebar lists */
ul.simple li ul li {
	padding-bottom: 10px;
	padding-top: 	10px;
}

img {
	border-radius: 15px;
}

iframe {
	border-radius: 15px;
}

/* --- Start: table index page --- */
.compatibility {
	width:			100%; 
	*/border: 		2px solid black;
	table-layout: 	fixed;
	text-align:		center;
}

.compatibility td {
	vertical-align: middle;
	border: 		2.5px solid #fbfbfb;
	background: 	#EFEFEF;
	height: 		100px;
	font-size: 		85%;
	border-collapse: separate; 
}

.compatibility td small {
	color: gray;
}

.done {
	background: #bcf5bc !important;
	color: 		#000;
}

.extra-bullets {
	font-size: 		90%;
	list-style:		circle; 
	margin-bottom: 	12px;
}

.last {
	visibility: hidden;
}

#top-left {
	background: #fcfcfc;
}

.tbl-head {
	background: #131313FF !important;
	color: 		white;
	font-size: 	100% !important;
}

.top-left {
	border-top-left-radius: 22px;
}

.bottom-left {
	border-bottom-left-radius:	22px;
}

.top-right {
	border-top-right-radius:	22px;
}

.bottom-right {
	border-bottom-right-radius:	22px;
}

.checkmark {
	font-size:	130%;
}
/* --- End: table index page --- */
