"""
These dependencies are needed to:
	1) Build the PyPI package. 
	2) Build the documentation.
	3) Make sure JupyterLab compatible functionality works.

Run this to avoid typos:
	pip install --upgrade -r requirements_dev.txt 
"""
# Packaging:
pip
wheel
twine
# Documentation:
ipython==7.19.0
nbsphinx>=0.8.6
sphinx_copybutton==0.3.1
sphinx_rtd_theme==0.5.0
sphinxext-opengraph==0.4.1
jinja2>=3.0.1
# IDE 
jupyterlab
ipywidgets>=7.5