# Run this to avoid typos: `pip install --upgrade -r requirements_dev.txt`
# These dependencies are for: Build PyPI package. Build docs. Testing optional JupyterLab compatibility.
# Packaging:
pip
wheel
twine
# Documentation:
ipython==7.19.0
sphinx==4.0.2
nbsphinx>=0.8.6
sphinx_copybutton==0.3.1
sphinx_rtd_theme==1.0.0
sphinxext-opengraph==0.4.1
jinja2>=3.0.1
# IDE 
jupyterlab
ipywidgets>=7.5