# pip install --upgrade -r requirements_dev.txt 
# Packaging:
pip
wheel
twine
# Documentation:
ipython==7.19.0
nbsphinx==0.8.5
sphinx==4.0.2
sphinx_copybutton==0.3.1
sphinx_rtd_theme==0.5.0
sphinxext-opengraph==0.4.1
# IDE 
jupyterlab
ipywidgets>=7.5