# pip install --upgrade -r requirements.txt
# You can't upgrade pip and wheel as part of dependency install process.
# You can't use same line comments in this file.
# Keras-TF compatibility: https://github.com/keras-team/keras#release-and-compatibility
tensorflow==2.7.0
Keras==2.7.0
# Previously (tf2.4.1 req h5py~=2.10.0), but h5py==3.6.0 works.
h5py==3.6.0
torch==1.8.1
# Excludes [image][audio][text]
torchmetrics==0.8.2
peewee==3.14.3
scikit-learn==0.24.1
# The version required by tensorflow. It didn't accept 1.20.
numpy==1.19.5
pandas>=1.1.0
Pillow==8.1.2
pyarrow==3.0.0
fastparquet==0.7.1
plotly==5.3.1
appdirs==1.4.4
natsort==7.1.1
tqdm==4.59.0
validators==0.18.2
dill==0.3.3
fsspec==0.9.0
dash==2.5.1
dash-bootstrap-components==1.1.0
# Does not require jupyter
jupyter-dash==0.4.1
# Do not end file with blank line.