# pip install --upgrade -r requirements.txt
# Reference tensorflow.org/install/pip
tensorflow==2.4.1
#https://docs.floydhub.com/guides/environments/
Keras==2.4.3
#(tf2.4.1 req h5py~=2.10.0)
h5py==2.10.0
torch==1.8.1
torchmetrics==0.2.0
peewee==3.14.3
scikit-learn==0.24.1
# The version required by tensorflow. It didn't accept 1.20.
numpy==1.19.5
pandas==1.2.3
Pillow==8.1.2
pyarrow==3.0.0
fastparquet==0.6.3
plotly==5.0.0
appdirs==1.4.4
natsort==7.1.1
tqdm==4.59.0
validators==0.18.2
dill==0.3.3
fsspec==0.9.0
# Do not end file with blank line.