/* --- Start: Nav bar --- */
.wy-side-nav-search {
	background-color: #060606;
}

.wy-side-nav-search input[type=text] {
	width: 			80%;
	border-color: 	#2b1f03;
	border-width: 	2px;
}

/* 
width auto was rendering 0px wide for .svg files
https://stackoverflow.com/questions/59215996/how-to-add-a-logo-to-my-readthedocs-logo-rendering-at-0px-wide
*/
.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
	width: 275px;
}

.wy-nav-side {
	background-color: #060606;
	background-image: linear-gradient(#060606, #252523);
}

/* margin is for the advert on free version of RTD*/
.wy-menu-vertical {
	padding-left: 	8px;
	margin-bottom: 	150px;
}

/* sidebar captions aka sections*/
.wy-menu > .caption > span.caption-text {
	color: 		#cca439;
	font-size: 	11.5px;
}

/* --- End: Nav bar --- */

/* --- Start: Main page --- */
/* intro paragraphs */
.intro {
    font-size:  14px;
}

p.intro {
    text-align: center;
}

.intro.bigP {
    line-height:   20px;
    margin-bottom: 20px;
}

ol.intro {
    padding-left: 45px;
}

ol.intro li span {
    color: #6c6c6c;
}

li.shadowBox {
    width:              99%;
    padding:            18px 22px 18px 22px;
    border:             1px solid lightgray;
    border-radius:      12px;
    margin-bottom:      25px;
    list-style-type:    None;

    box-shadow:         4px 4px lightgray;
    -moz-box-shadow:    4px 4px lightgray;
    -webkit-box-shadow: 4px 4px lightgray;
    -o-box-shadow:      4px 4px lightgray;
}

li.shadowBox:hover {
    border:             1px solid #adadad;
    border-radius:      9px;
    box-shadow:         4px 4px #adadad;
    -moz-box-shadow:    4px 4px #adadad;
    -webkit-box-shadow: 4px 4px #adadad;
    -o-box-shadow:      4px 4px #adadad;
}

/* list of features */
ul.featureLists {
    padding-bottom: 50px;
    padding-left: 45px;
}

ul.featureLists.spaced {
    padding-top: 35px;
}

ul.featureLists li {
    list-style-type:     square;
    list-style-position: outside;
    font-size:           14.5px;
    margin-bottom:       12px; 
}

ul.featureLists li span {
    position: relative;
    left:     12px;
}

/* the '.simple' points to body lists, and avoids the sidebar lists */
ul.simple li ul li {
	padding-bottom: 10px;
	padding-top: 	10px;
}

img {
	border-radius: 15px;
}

iframe {
	border-radius: 15px;
}

#overview h1 {
    display: none !important;;
}
/* --- End: Main page --- */

/* --- Start: Explainer page --- */
p.explain {
    font-size:  15px;
    text-align: center;
}

.figCaption {
    border-left: 4px solid lightgray;
    padding-left: 15px;
    color: gray;
    font-size: 13px;
}
/* --- End: Explainer page --- */  

/* --- Start: Services page --- */
.quickLinks {
    display: flex;
    width:   90%;
    margin:  30px auto 35px auto;/*center*/
}

.quickLinks div {
    flex:             auto;
    margin:           8px;
    padding:          8px;
    border-radius:    30px;
    text-align:       center;
    background-image: linear-gradient(to bottom right, #c6ebf7, #fcfcfc);
    font-size:        13.5px;
    border-collapse:  collapse; 
}

.quickLinks div:hover {
    background-image: linear-gradient(to bottom right, #d7eff7, #fcfcfc);
}

.quickLinks div a:hover {
    text-decoration:  underline;
}

.svcBox {
    padding:            16px 20px 16px 20px;
    border:             1px solid #b6cfde;
    border-radius:      12px;
    margin-bottom:      25px;
    margin-left:        8%;

    box-shadow:         4px 4px #b6cfde;
    -moz-box-shadow:    4px 4px #b6cfde;
    -webkit-box-shadow: 4px 4px #b6cfde;
    -o-box-shadow:      4px 4px #b6cfde;
}

.svcBox:hover {
    border:             1px solid #7d98a8;
    border-radius:      9px;
    box-shadow:         4px 4px #7d98a8;
    -moz-box-shadow:    4px 4px #7d98a8;
    -webkit-box-shadow: 4px 4px #7d98a8;
    -o-box-shadow:      4px 4px #7d98a8;
}

.svcHeader {
    font-weight:   bold;
    margin-bottom: 6px;
    font-size:     15px;
}
    
.svcDescribe {
    font-size: 14px;
    margin-left: 20px;
}
/* --- End: Services page --- */

/* --- Start: compatibility table index page --- */
.compatibility {
	width:			100%; 
	*/border: 		2px solid black;
	table-layout: 	fixed;
	text-align:		center;
}

.compatibility td {
	vertical-align: middle;
	border: 		2.5px solid #fbfbfb;
	background: 	#EFEFEF;
	height: 		100px;
	font-size: 		85%;
	border-collapse: separate; 
}

.compatibility td small {
	color: gray;
}

.done {
	background: #bcf5bc !important;
	color: 		#000;
}

.done:hover {
    background: radial-gradient(#d9ffd9, #adeaad) !important;
}

.extra-bullets {
	font-size: 		90%;
	list-style:		circle; 
	margin-bottom: 	12px;
}

.last {
	visibility: hidden;
}

#top-left {
	background: #fcfcfc;
}

.tbl-head {
	background: #131313FF !important;
	color: 		white;
	font-size: 	100% !important;
}

.top-left {
	border-top-left-radius: 22px;
}

.bottom-left {
	border-bottom-left-radius:	22px;
}

.top-right {
	border-top-right-radius:	22px;
}

.bottom-right {
	border-bottom-right-radius:	22px;
}

.checkmark {
	font-size:	130%;
}
/* --- End: compatibility table index page --- */
