/* 
    - The name of the file does not matter. I just didn't want to use 'custom' 
      because that's used by the docs or 'style' in case that is hardcoded anywhere.
    - `!important` is used a lot to override bootstrap styles.
*/
@font-face {
    font-family:                "Abel";
    src:                        url("Abel-Regular.ttf");
}
/* ======== PAGE ======== */
html {
    height:                     100%;
}

body {
    /* rgb coloring does not work here */
    background-color:         #182d41;
}

#_pages_content {
    color:                    white;
}

.ctr {
    margin-left:                auto;
    margin-right:               auto;
}

.hrz {
    color:                    #40566b;
    width:                      85%;
    height:                     3px;
    margin-top:                 45px;
    margin-bottom:              45px;
}


/* ======== NAV BAR ======== */
.navig {
    /* These 3 stick it to top. */
    position:                   sticky;
    top:                        0;
    z-index:                    999;

    width: 100%;
    height:                     48px;
    background-image:           linear-gradient(#1b344a, #010A11);
    display:                    flex;
}

.logo {
    position:                   relative;
    margin-left:                8px;
    margin-top:                 4px;
}

.all-linx {
    display:                    flex;
    position:                   relative;
    top:                        11px;
}

.linx-box {
    margin-left:                20%;
}

.linx {
    font-family:                Abel;
    color:                    #43eac5;
    font-size:                  16px;
    text-decoration:            none;
}

.linx:hover {
    color:                    #ffda67;
}

.linx:active {
    color:                    #ffda67;
}

.linx-live {
    text-decoration:            underline;
}
/* ======== PROGRESS BAR ====== */
.prog_footer {
    position:                   fixed;
    bottom:                     0px;
    width:                      100%;
    background-image:           linear-gradient(#010A11, #1b344a);
    height:                     48px;
}

.prog_bar {
    /* matches bootstrap secondary color */
    border:                     1px solid #6c757d;
    width:                      45%;
    margin-top:                 17px;
    border-radius:              12px;
    background:                 none;
    height:                     15px;
    font-size:                  12px;
    color:                    #010A11;
}

/* ======== MID BAR ======== */
.middle_bar {
    --bs-gutter-x:              0px !important;
    width:                      100%;
    background-image:           linear-gradient(#010A11, #010A1170);
    padding-top:                18px;
    padding-bottom:             18px;
    /* These 3 stick it to top & mirror nav */
    position:                   sticky;
    top:                        48px;
    z-index:                    999;
}

.up_arrow {
    color:                    #5E768C;
    text-decoration:            none;
    font-size:                  19px;
}


/* ======== BUTTONS ======== */
button {
    border-radius:              8px !important;
    letter-spacing:             0.03em !important;
}

button:hover {
    border-color:             #ffda67 !important;
    color:                    #ffda67 !important;
}

button:active {
    border-color:             #ffffff !important;
    color:                    #ffffff !important;
}

.exp_ctrl_row {
    width:                      100%;
    padding-left:               4%;
    margin-top:                 18px;
}

.ctrl_chart {
    width:                      75%;
    font-family:                Abel;
}

.ctrl_chart select {
    color:                    #5c5c5c !important;
}

.ctrl_big {
    min-width:                  222px;
}

.ctrl_sm {
    min-width:                  160px;
}

.chart_button {
    padding-top:                7px;
    padding-bottom:             7px;
    padding-left:               12px;
    padding-right:              12px;
    border-radius:              6px;
    color:                    #43eac5;
    border-color:             #43eac5;
    font-weight:                lighter;
}

.ctrl_col_big {
    min-width:                  230px;
}

.ctrl_col_sm {
    min-width:                  190px;
}

/* alternating dropdown row colors */
option:nth-child(even) {
    background-color:         #E0F1F4 !important;
}

/* === EXP BUTTONS === */
.input-group-text {
    border-top-left-radius:     8px !important;
    border-bottom-left-radius:  8px !important;
    font-size:                  16px !important;
}

.form-select {
    border-top-right-radius:    8px !important;
    border-bottom-right-radius: 8px !important;
    text-align:                 center;
    padding-left:               6% !important;
    font-size:                  16px !important;
}

.form-control {
    border-top-right-radius:    8px !important;
    border-bottom-right-radius: 8px !important;
    text-align:                 center;
    font-size:                  16px !important;
}

/* === MULTITRON === */
.multitron {
    font-family:                Abel;
    font-size:                  16px !important;
    width:                      90%;
}

.Select-control {
    /* this will also apply when dropdown is clicked */
    border-radius:              20px;
    padding-left:               20px;
}

.Select-placeholder {
    padding-left:               20px;
    text-align:                 center;
    padding-right:              11%;
}

.Select-value {
    border-radius:              15px !important;
    padding-left:               2px;
    padding-right:              5px;
}

.Select-value-label {
    padding-left:               8px;
}

/* somewhat centers models. margin-l/r auto !important doesn't work. */
.Select-multi-value-wrapper {
    padding-left:               3%;
}

.model_container {
    width: 100%;
}

/* ======== TABLES ======== */
.hp_contain {
    overflow-y:                 scroll;
    max-height:                 100%;
    margin-top:                 20px;
    padding-right:              5%;
}

.tbl {
    /* it injects its own margin w/o this */
    margin-bottom:              5px;
    text-align:                 center; 
    font-size:                  16px !important;
    font-family:                Abel;
}

.tbig {
    width:                      70%;
}

.tsmall {
    width:                      40%; 
}

thead {
    color:                    white;
}

tbody {
    border-top-color:         #484848 !important;
}

td {
    color:                    #e4e4e4 !important;
}

/* Rounded table corners */
th:first-child {
    border-top-left-radius:     12px;
}
th:last-child {
    border-top-right-radius:    12px;
}
tr:last-child td:first-child {
    border-bottom-left-radius:  12px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
tr:last-child td {
    border-bottom-width:        0px !important;
}

/* ======== PLOTS ======== */
.exp_row {
    width:                      100%;
    padding-left:               4%;
    height:                     500px;
    margin-bottom:              15px;
}

.exp_plot_contain {
    width:                      100%;
    height:                     500px;
    margin-left:                3%;
}

.plots {
    width:                      90%;
}
/* community.plotly.com/t/is-it-possible-to-hide-the-floating-toolbar/4911 */ 
.modebar{
    display:                    none !important;
}

/* ======== SIMULATIONS ======== */

.sim-pane {
    width:                      100%;
    --bs-gutter-x:              0px !important;
    font-family:                Abel;
}

.sim-inputs {
    padding-top:                20px;
}

.sim-outputs {
    padding-top:                20px;
}

#sim-features {
    margin:                     25px;
}

.sim-subtitle {
    font-size:                  17px;
    margin-top:                 15px;
    text-align:                 center;
    margin-bottom:              2px;
}

.sim-slider-header {
    font-size:                  15px;
    color:                    lightblue;
    margin-bottom:              5px;
}

.sim-slider {
    margin-bottom:              10px;
}



/* ======== MISC ======== */
.header {
    color:                    #ffda67;
    font-size:                  19px;
    font-weight:                200;
    font-stretch:               108%;
    text-align:                 center;
    font-family:                Abel;
}

.alert {
    width:                      80%;
    margin:                     auto;
    text-align:                 center;
    background:               #ffffff20;
    color:                    #FFFFFF;
    font-weight:                lighter;
    border-radius:              12px;
    border-color:             #ffffff00;
    border-width:               4px;
    padding:                    25px;
}

.spinner {
    margin-left:                48%;
}
